/* Footer.css */
.footer-bar {
  background-color: #f0f0f0;
  padding: 0.5rem 0;
  text-align: center;
  border-top: 1px solid #ccc;
  width: 100%;
  max-width: 450px;   /* Frameと同じ横幅制限 */
  margin: 0 auto;     /* 中央揃え */
  z-index: 5;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* アイコン＋ラベル全体 */
.footer-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

/* アイコン下の文字 */
.footer-label {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
