/* src/frame/Frame.css */

.frame-root {
  display: flex;
  height: 100vh;
  justify-content: center;
  min-width: 350px;
  overflow: hidden;
}

.frame-center {
  display: flex;
  flex-direction: column; /* 縦に積む */
  height: 100%;
  min-width: 350px;
  max-width: 450px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: #fff;
}

/* 新たに追加 */
.frame-content {
  flex: 1;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;

  /* 👇 スナップをここに持たせる */
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
}


